body{
    background-image: url("https://okdiario.com/img/series/2017/08/02/one-piece.jpg");
    background-size: cover;
}

.collapsible {
    display:block;
    background-color: #ffdb4d;
    color: black;
    cursor: pointer;
    padding: 1%;
    
    width: 15em;
    border: 2px solid black;
    text-align: left;
    outline: none;
    font-size: 1em;
    margin-bottom: 1em;
    
}

.active, .collapsible:hover {
    background-color: #555;
}


ul {
    background-color: transparent;
    font-size: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 90%;
    
}

li{
    background-color: transparent;
    margin: 0;
    padding: 0;
    display: inline;
    width: 5%;
}


img {
    
    width:5%;
    height:auto;
    background-color: transparent;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    background-position: center;
}

@media only screen and (max-width: 600px) {
    li {
        display: block;
    }
}
