body{
    background-image: url("https://i.pinimg.com/originals/1a/cc/ce/1accce243a827f15e2ef4b69ecfc1ee4.jpg");
}


img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    max-width:100%;
    background-color: transparent;
}

ul {
    background-color: transparent;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%; 
}

li{
    background-color: transparent;
    margin: 5px;
    padding: 5px;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: solid 3px black;
  background-color: #ffdb4d;
}


td,th {
    border: solid 3px black;
    text-align: center;
    color: black;
}

p {
    background-color: #ffdb4d;
    color: black;
    border: solid 3px black;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

button{
    background-color: #ffdb4d;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-size: 24px;
}

button:hover {
    background-color: #555;
}
